/* User stylesheet */
.as-main-cont { border: 2px solid #000; }
.as-main-cont, .as-main-cont .as-cont{ border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
.as-main-cont a.as-nav-trig { text-decoration: none; opacity: 0.7; background: #FFF; box-shadow: 1px 1px 2px 0 #000; }
.as-main-cont a.as-nav-trig:last-child{ margin-right: 0px; }
.as-main-cont a.as-nav-trig:hover, .as-main-cont a.as-nav-sel { opacity: 1; }

.as-main-cont a.as-control { text-decoration: none; opacity: 0.7; color: #FFFFFF; font: 45px/20px Arial; height: 25px; text-shadow: 1px 1px 2px #000000; top: 15px; }
.as-main-cont a.as-control:hover { opacity: 1; }
.as-main-cont a.as-control-prev { left: 15px; }
.as-main-cont a.as-control-next { right: 15px; }

.as-main-cont div.as-nav-cont{ bottom: 10px; right: 20px; }
.as-main-cont a.as-nav-trig { margin-right: 12px; width: 16px; height: 16px; border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px;}

/* NEEDED STYLESHEET FOR PLUGUIN WORK */
.as-main-cont{ position: relative; }
.as-main-cont .as-cont { position: relative; overflow: hidden; }
.as-main-cont .as-cont ul.as-list-cont { position: absolute; margin: 0px; padding: 0px; list-style: none; top: 0px; left: 0px; clear: both; }
.as-main-cont .as-cont li.as-list-item { display: block; margin: 0px; padding: 0px; list-style: none; float: left; }
.as-main-cont div.as-nav-cont{ position: absolute; }
.as-main-cont a.as-nav-trig { outline: none; display: block; float: left; }
.as-main-cont a.as-control { display: block; position: absolute; }